// 绿色
$success: #52c41a;
// 黄色
$warning: #faad14;
// 红色
$error: #f5222d;
// 灰色
$info: #bfbfbf;
// 黑色
$black: #000000;
// 白色
$white: #ffffff;
$black: #000000; // 黑色

$main-color: #faad14; // 主色调
$font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans','sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol','Noto Color Emoji'";

$css-var-list: (
  font-family: $font-family,
  // 主要色彩,核心色板部分代码将由js进行生成,这里仅仅是表示需要存在
/*  main-color0: '#fffbe6',
  main-color1: #fffbe6,
  main-color2: #fff1b8,
  main-color3: #ffe58f,
  main-color4: #ffd666,
  main-color5: $main-color,
  main-color6: #d48806,
  main-color7: #ad6800,
  main-color8: #874d00,
  main-color9: #613400,*/
  // 黑色
  black0: $black,
  // 白色
  white0: $white,
  // 绿色
  success0: $success,
  // 黄色
  warning0: $warning,
  // 红色
  error0: $error,
  // 灰色
  info0: $info,
  // 字體顏色
  font-main: darken($white,85%), // 主要展示文字颜色
  font-title: darken($white,85%), // 标题
  font-secondary: darken($white,45%),
  font-disable: darken($white,25%), // 禁用
  // 背景颜色
  background:  darken($white,4%),
  // 字体大小
  h1: 24px, // 页面唯一标题
  h2: 20px, // 文章导航标题
  h3: 18px, // 常规标题
  h4: 16px, // 次级标题，弹窗标题，tab标题等
  h5: 14px, // 常规主要展示文字
  h6: 12px, // 若提示文字
  // 字重
  bold-main: 400,
  bold-title: 600,
  // 阴影
  shadow1: 0 3px 6px 0px rgba(0,0,0,0.12),
  // 间距
  margin0: 16px, // 块元素间距
  maring1: 12px, // label块间距
  margin2: 8px, // 字体块间距
  margin3: 4px,
  // 内间距
  padding0: 16px,
  padding1: 12px,
  padding2: 8px,
  // 边框
  border: darken($white,15%)
  //
)
